footer.footer
  .container-fluid
    nav.pull-left
      ul
        li
          a(href='#')
            | Home
        li
          a(href='#')
            | Company
        li
          a(href='#')
            | Portfolio
        li
          a(href='#')
            | Blog
    p.copyright.pull-right
      | ©
      | 2017 -
      script.
        document.write(new Date().getFullYear())
      a(href='https://github.com/anandmaraiya') @ Anand Maraiya
      | , striving for a better world
